@page "/"
@inject IJSRuntime _jsRunTime

<PageTitle>PrismLuxe : Lash Speciality Technician in El Paso Texas</PageTitle>
<meta name="description" content="Book your session with a top rated Lash Speciality Technician in El Paso, TX. 
PrismLuxe is your go to Lash Technician for comfort, quality, and a luxurious treatment."/>

<MudCarousel Class="mud-width-full" Style="height:350px;" ShowArrows="@arrows" ShowBullets="@bullets" EnableSwipeGesture="@enableSwipeGesture" AutoCycle="true" AutoCycleTime="@CycleTime" TData="object">
    <MudCarouselItem Transition="transition">
        <div class="d-flex justify-center" style="height:100%">
            <MudImage Src="./Images/Carousel1.jpeg" Class="img-fluid mx-auto-auto" ObjectFit="@ObjectFit.Fill" Style="@(IsMobile? "width:100%;": "width:40%;")" />
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="transition">
        <div class="d-flex justify-center" style="height:100%">
            <MudImage Src="./Images/Carousel2.jpg" Class="img-fluid mx-auto-auto" ObjectFit="@ObjectFit.Fill" Style="@(IsMobile? "width:100%;": "width:40%;")" />
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="transition">
        <div class="d-flex justify-center" style="height:100%">
            <MudImage Src="./Images/Carousel3.jpg" Class="img-fluid mx-auto-auto" ObjectFit="@ObjectFit.Fill" Style="@(IsMobile? "width:100%;": "width:40%;")" />
        </div>
    </MudCarouselItem>
</MudCarousel>
<br />
@*Redirect to square page in new page*@
<a href="https://www.instagram.com/prism.luxe/" target="_blank" class="d-flex justify-center">
    <image style="width:5%; height:5%" src="./Images/pngfind.com-instagram-icons-png-755741.png" />
</a>
<br/>
<div class="d-flex justify-center nav-item px-3">
            <NavLink style="color:black" class="nav-link" href="https://prismluxe.square.site" Match="NavLinkMatch.All">
                <span class="oi oi-calendar" aria-hidden="true"></span> Book with me!
            </NavLink>
        </div>
@code{
    private bool arrows = true;
    private bool bullets = false;
    private bool enableSwipeGesture = true;
    private Transition transition = Transition.Slide;
    private TimeSpan CycleTime = new TimeSpan(00,00,03);

    private bool IsMobile { get; set; } = true;
    protected override async Task OnInitializedAsync()
    {
        IsMobile = await _jsRunTime.InvokeAsync<bool>("isDevice");
    }

}